@font-face {
 font-family: "raleway";
 src: url(raleway_thin.ttf) format("truetype");
}

@font-face {
 font-family: "ubuntu";
 src: url(ubuntu_reg.ttf) format("truetype");
}

@font-face {
  font-family: 'Carrois Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Carrois Gothic'), local('CarroisGothic-Regular'), url(http://themes.googleusercontent.com/static/fonts/carroisgothic/v1/GCgb7bssGpwp7V5ynxmWy2IHn70NeZKJ0uStDo7Dza8.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

body {
 font-family: ubuntu;
 text-align:center;
 padding:0px;
 margin:0px;
}

span {
}

p, ul {

 text-align:left;
}

a {
 font-weight:bold;
 color: black;
 text-decoration: none;
 opacity:0.8;
}

a:hover {
 opacity: 1;
}

/* # # # # # # # GLOBAL CONTAINER # # # # # # # # # */
#mainContainer {
 width:100%;
 min-width:530px;
 margin:0 auto;
 padding:0px;
 position: relative;
}

.superscript {
 vertical-align:super;
 font-size:12px;
}

.unbreakable {
 display:inline-block;
}

/* # # # # # # # LOGO CONTAINER # # # # # # # # # */
#logoContainer {
 height:190px;
 width:100%;
 position:relative; 
 background-color:#024267;
 color:white;
 user-select:none;
 -webkit-user-select:none;
 -moz-user-select:none;
 cursor:default;
}

#logo {
 font-family:Montserrat;
 font-size: 36px;
 padding-top: 50px;
}

.logoHighlight {
 color: #4ab7f5;
 display:inline-block;
}

#sublogo {
 font-size:14px;
 word-spacing:20px;
}

#logoDetailsContainer {
 display: inline-block;
 position:relative;
 margin-top:10px; 
 color:#4ab7f5;
 font-family: Carrois Gothic;
 font-size:16px;
}



/* # # # # # # # COPYRIGHT CONTAINER # # # # # # # # # */
#copyrightContainer {
 font-family:raleway;
 font-size:20px;
 margin:20px;
 user-select:none;
 -webkit-user-select:none;
 -moz-user-select:none;
} 

/* # # # # # # # ORGANIZER CONTAINER # # # # # # # # # */
.organizerGroup {
 position:relative;
 display:inline-block;
 
 padding: 10px;
 border-radius:10px;
 text-align:center;
}

.organizerGroupHeading {
 height: 50px;
 font-size:20px;
}

.organizer {
 display:inline-block;
 position:relative;
 height:150px;
 width:175px;
 margin-bottom:10px;
 font-family:raleway;
}

.organizer a {
 font-weight: normal;
 opacity: 1;
}

.organizer img {
 position: relative;
 margin-bottom:2px;
 height:80%;
 width: auto;
 border-radius: 10px;
}


/* # # # # # # # MENU CONTAINER # # # # # # # # # */
#menuContainer {
 user-select:none;
 -webkit-user-select:none;
 -moz-user-select:none;
 border-bottom: 1px solid #024267;
}

.menuLink {
 display:inline-block;
 margin:10px;
 padding: 10px;
}

.menuLink:hover {
 background-color:#eeeeee;
 border-radius: 15px;
}

/* # # # # # # # CONTENT CONTAINER # # # # # # # # # */
.contentHeader {
 font-size:24px;
 padding:2px;
 margin-top:40px;
 width:100%;
 border-radius:25px;
 border-top: 1px solid #ddd;
 border-bottom: 1px solid #;
 color:white;
 background-color:#024267;
}

.contentSubHeader{
 margin-top:5px;
 padding: 10px;
 border-top: 2px solid #cbb;
 font-size: 20px;
}

.contentHighlight {
 background-color: #D1EDFF;
 border-radius:15px;
 padding-bottom:2px;
 font-weight:bold;
}

.contentOblique {
 display:block;
 width:100%;
 margin-top:20px;
 text-align:center;
 font-style:oblique;
}

#contentFooter {
 margin-top: 20px;
}

#contentContainer {
 width: 80%;
 font-size: 16px;
 margin:0 auto;
 margin-top:20px;
}

#signupLink {
 font-family: Montserrat;
 font-size: 30px;
 background-color:#004D99;
 color:white;
 display:inline-block;
 border-radius:15px;
 padding:10px;
 user-select:none;
 -webkit-user-select:none;
 -moz-user-select:none;
}

